.title {
  color: lighten(red, 20%);
}

.toilets {
  margin-top: -400px !important;
}

.flow {
  color: #808080 !important;
  width: 40% !important;
  margin-left: 10% !important;
}

.columnClass {
  display: flex;
  flex-direction: row !important;
  margin-left: -25% !important;
}
