.title {
  color: lighten(red, 20%);
}

.blueHeart {
  height: 340px;
  margin-left: 10% !important;
  margin-top: -20% !important;
}

.greyHelvetica {
  position: absolute !important;
  margin-top: -20% !important;
  margin-left: 20% !important;
  font-family: Helvetica !important;
  color: #808080 !important;
  font-size: 80px !important;
}

.greyHelvetica2 {
  position: absolute !important;
  margin-top: -10% !important;
  margin-left: 10% !important;
  font-family: Helvetica !important;
  color: #808080 !important;
  font-size: 80px !important;
}
